:root {
	--ski-red: #e63946;
}

body {
	display: grid;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}

.header {
	background-color: var(--ski-red);
	color: white;
	padding: 1rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logotype {
	font-family: "Bebas Neue", sans-serif;
	align-items: center;
	font-size: 3rem;
	letter-spacing: -0.1rem;
	color: white;
	text-decoration: none;
}
.navbar {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.2rem;
}
.navbutton {
	color: white;
	text-decoration: none;
    font-size: 1.1rem;
}

.main {
    background-color: white;
	display: grid;
    padding: 1rem;
    gap: 1rem;
}
.contentbox {
	background-color: var(--ski-red);
    color: white;
	padding: 0.5rem;
    border-radius: 0.5rem;
}
.contentbox .contenttitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}
.contentbox .contentauthor{
    border-bottom: white solid 1px;
    font-size: 0.8rem;
}
.contentbox .contentdate{
    font-size: 0.8rem;
}