:root {
	--ski-red: #e63946;
}

body {
	display: grid;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}

.header {
	background-color: var(--ski-red);
	color: white;
	padding: 1rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.logotype {
	font-family: "Bebas Neue", sans-serif;
	align-items: center;
	align-self: center;
	font-size: clamp(2rem, 8vw, 4rem); /* Caps the size between 2rem and 5rem */
	letter-spacing: -0.1rem;
	color: white;
	text-decoration: none;
	transition: transform 0.2s ease-in-out;
}

.logotype:hover,
.logotype:active {
	transform: scale(1.1) rotate(1deg);
}

.navbar {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.2rem;
}

.navbutton {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
	transition: transform 0.2s ease-in-out;
}

.navbutton:hover,
.navbutton:active {
	transform: scale(1.2) rotate(1deg);
}

#selectednav {
	border-bottom: white 2px solid;
}

.main {
	background-color: white;
	display: grid;
	padding: 1rem;
	gap: 1rem;
	justify-content: center;
}

.contentbox {
	background-color: white;
	color: black;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contentbox div {
	padding-bottom: 0.2rem;
}

.contentbox .contenttitle {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}

.contentbox .contentauthor {
	color: #444;
	border-bottom: white solid 1px;
	font-size: 0.8rem;
}

.contentbox .contentdate {
	color: #444;
	font-size: 0.8rem;
}

.contentbox .tripdetails {
	background-color: #eee;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.postphoto {
	max-width: 100%;
	justify-self: center;
	border-radius: 0.5rem;
}

#profilecontainer {
	padding: 1rem;
	display: grid;
	justify-items: center;
}

.profilephoto {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.profileusername {
	font-family: "Bebas Neue", sans-serif;
	font-size: 2rem;
	color: var(--ski-red);
	margin-top: 0.5rem;
}

.profilename {
	font-size: 1.2rem;
}

.profilebio {
	color: #444;
	text-align: center;
	margin-top: 0.5rem;
	max-width: 60%;
}

.accountbutton {
	margin-top: 1rem;
	background-color: var(--ski-red);
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}
.accountbutton:hover {
	background-color: #d62839;
}
.accountbutton:active {
	background-color: #d62839;
	transform: scale(0.95);
}

#profileeditcontainer{
	display: none;
	margin-top: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
}

#profileeditform {
	display: grid;
	font-family: 'Montserrat', sans-serif;
}

#profileeditform * {
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
}

.profileformelement{
	display: grid;
}